.blog {
   font-size: 120px;
   font-family: garmond;
   font-weight: 1000;
   position: absolute;
   top: 100px;
   left: 120px;
   /* color: rgb(12, 240, 58); */
   text-align: center;
   /* text-shadow: 2px 2px 5px rgb(214, 224, 212); */
   text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #fdfdf8 0%,
    #d0d1cc 29%,
    #892dba 67%,
    #e0dfd2 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
      font-size: 110px;
}
.selector-for-some-widget {
    box-sizing: content-box;
  }

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

.container {
    max-width: 1600px;
    position: relative;
    text-align: center;
    top: 0;
    left: 0;
    padding-right: 0px;
    padding-left: 0px;
    margin-right: 0px;
    margin-top: 0;
    margin-left: 0;
}
  
#blog-img{
    margin-top: 0;
    margin-left: 0;
    box-shadow: 5px 10px 18px rgb(18, 194, 8);
    border-style: d
}
.container-frame{
    margin:20px 55px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    
    }

@media(max-width:576px){
    .container-frame{
        margin:20px 10px;
        }}
        @media(max-width:450px){
        .container-frame{
            margin:20px 10px;
            }
        .icon-text{
            font-size: 0.95rem;
        }
        .container-internal h2{
            font-size: 1.5rem;
        }
        .container-internal h4{
            font-size: 1rem;
        }
        .card-lower{
            height:680px;
        }
        }
.card-lower{
    margin:15px 0px 25px 0px;
    width:420px;
    height:650px;
    border-color: black;
    align-self: center;
    background-color: rgb(205, 239, 166);
    box-shadow: 5px 10px 18px rgb(7,59,4);
    border-radius: 20px 20px 20px 20px;
    }
.icon-text{
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
    font-size: 1.15rem;
    margin-top: 10px;
    margin-right: 10px;
    margin-left: 10px;
    text-align: center;
    }

p {
    position: relative;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.Knowmore {
    text-align:center;
    margin-top: 20px;
    margin-left: 150px;
    position: absolute;
}

.container.img{
    border: 10px solid rgb(18, 13, 13);
}